@font-face {
	font-family: "Tahoma";
	font-weight: normal;
	src:
		local("Tahoma"),
		url("/assets/font/tahoma.ttf")
}

@font-face {
	font-family: "Tahoma";
	font-weight: bold;
	src:
		local("Tahoma"),
		url("/assets/font/tahomabd.ttf")
}

@font-face {
	font-family: "Terminus";
	font-weight: bold;
	src:
		url("/assets/font/terminusbd.ttf")
}

* {
	image-rendering: optimizeSpeed;
	image-rendering: pixelated;
	font-smooth: never;
	font-synthesis-weight: none;
	shape-rendering: crispEdges;
	shape-rendering: optimizeSpeed;
	text-rendering: optimizeSpeed;
	box-sizing: border-box;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

html {
	background-color: #000000;
	color: #FFFFFF;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: #6600FF #000000;
}

body {
	margin: 1% 5%;
	font-family: "Tahoma";
}


h1 {
	font-size: 28px;
	font-family: "Terminus";
}

h2 {
	font-size: 24px;
	font-family: "Terminus";
}

h3 {
	font-size: 22px;
	font-family: "Terminus";
}

hr {
	border: 1px solid #6600FF;
	width: 90%;
}

ul {
	list-style-type: square;
}

p {
	white-space: pre-wrap;
	font-size: 16px;
}

textarea {
	background-color: #333333;
	color: #CCCCCC;
	border: 1px solid #6600FF;
}

code {
	background-color: #333333;
}

a:link {
        color: #9933ff;
}

a:visited {
        color: #0000cc;
}

.border {
	border: 1px solid #6600FF;
}

.left {
	float: left;
	margin-right: 1rem;
}
.clear-left {
	clear: left;
}

.right {
	float: right;
	margin-left: 1rem;
}

.clear-right {
	clear: right;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}

.centered-text {
	text-align: center;
}

.left-text {
	text-align: left;
}

.right-text {
	text-align: right;
}

.vertically-centered {
	vertical-align: middle;
}

.row {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.flex {
	flex: 1;
}

.overflow-scroll {
	overflow: scroll;
}

.overflow-hidden {
	overflow: hidden;
}

.undecorated-link a {
	text-decoration: none;
	color: #FFFFFF;
}
