@font-face {
	font-family: "Tahoma";
	font-weight: normal;
	src:
		local("Tahoma"),
		url("/assets/font/tahoma.ttf")
}

@font-face {
	font-family: "Tahoma";
	font-weight: bold;
	src:
		local("Tahoma"),
		url("/assets/font/tahomabd.ttf")
}

@font-face {
	font-family: "Terminus";
	font-weight: bold;
	src:
		url("/assets/font/terminusbd.ttf")
}

* {
	image-rendering: optimizeSpeed;
	image-rendering: pixelated;
	font-smooth: never;
	font-synthesis-weight: none;
	shape-rendering: crispEdges;
	shape-rendering: optimizeSpeed;
	text-rendering: optimizeSpeed;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
	background-image: url("/assets/image/background.gif");
	background-color: #000000;
	background-repeat: repeat;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	font-family: "Tahoma";
	scrollbar-width: thin;
}

h1 {
	font-size: 28px;
	font-family: "Terminus";
}

h2 {
	font-size: 24px;
	font-family: "Terminus";
}

h3 {
	font-size: 22px;
	font-family: "Terminus";
}

p {
	white-space: pre-wrap;
	font-size: 16px;
}

hr {
	border: 1px solid #6600FF;
}

ul {
	list-style-type: square;
}

object {
	width: 100%;
	height: 100%;
}

#content {
	display: flex;
	width: 70vw;
	height: 85vh;
	min-width: 800px;
}

#content > div {
	background-color: #000000;
}

#navbar, #comments {
	border: 2px solid #FF0000;
	width: 20%;
	height: 90%;
	margin-top: auto;
	padding: 1% 1%;
	overflow: scroll;
	scrollbar-color: #FF0000 #000000;
}

#navbar > hr, #comments > hr {
	border: 1px solid #FF0000;
}

#main {
	border: 2px solid #6600FF;
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#title {
	height: 10%;
	padding: 0 5%;
}

#page {
	width: 100%;
	height: 100%;
	padding: 1% 5%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-color: #6600FF #000000;
	font-family: "Tahoma"
}

textarea, input {
	background-color: #333333;
	color: #CCCCCC;
	border: 1px solid #FFFFFF;
}

a:link {
	color: #3300ff;
}

a:visited {
	color: #9933ff;
}

#title {
	color: white;
	text-decoration:none;
}

code {
	background-color: #333333;
}

.border {
	border: 1px solid #6600FF;
}

.left {
	float: left;
	margin-right: 1rem;
}
.clear-left {
	clear: left;
}

.right {
	float: right;
	margin-left: 1rem;
}

.clear-right {
	clear: right;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}

.centered-text {
	text-align: center;
}

.left-text {
	text-align: left;
}

.right-text {
	text-align: right;
}

.vertically-centered {
	vertical-align: middle;
}

.row {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.flex {
	flex: 1;
}

.overflow-scroll {
	overflow: scroll;
}

.overflow-hidden {
	overflow: hidden;
}

.undecorated-link a {
	text-decoration: none;
	color: #FFFFFF;
